.row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-sm{
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

/* .header {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
} */

.about {
  font-size: 40px;
  /*text-decoration: underline; */
}

.desk {
  width: 350px;
  height: 160px;
  transition: transform 300ms;
  background-repeat: no-repeat;
  background-position: center;
}

.desk:hover {
  transform: scale(1.35);
}

.big_desk {
  padding-top: 10px;
  padding-bottom: 25px;
}

.desk_1{
  background-image: url("Final_Desks/Desk_1.svg");
}

.desk_1:hover {
  background-image: url("Final_Desks/Overlay_1.svg");
}

.desk_2{
  background-image: url("Final_Desks/Desk_2.svg");
}

.desk_2:hover {
  background-image: url("Final_Desks/Overlay_2.svg");
}

.desk_3{
  background-image: url("Final_Desks/Desk_3.svg");
}

.desk_3:hover {
  background-image: url("Final_Desks/Overlay_3.svg");
}

.desk_4{
  background-image: url("Final_Desks/Desk_4.svg");
}

.desk_4:hover {
  background-image: url("Final_Desks/Overlay_4.svg");
}

.desk_5{
  background-image: url("Final_Desks/Desk_5.svg");
}

.desk_5:hover {
  background-image: url("Final_Desks/Overlay_5.svg");
}

.desk_6{
  background-image: url("Final_Desks/Desk_6.svg");
}

.desk_6:hover {
  background-image: url("Final_Desks/Overlay_6.svg");
}

.desk_7{
  background-image: url("Final_Desks/Desk_7.svg");
}

.desk_7:hover {
  background-image: url("Final_Desks/Overlay_7.svg");
}

.desk_8{
  background-image: url("Final_Desks/Desk_8.svg");
}

.desk_8:hover {
  background-image: url("Final_Desks/Overlay_8.svg");
}

.desk_9{
  background-image: url("Final_Desks/Desk_9.svg");
}

.desk_9:hover {
  background-image: url("Final_Desks/Overlay_9.svg");
}

.desk_10{
  background-image: url("Final_Desks/Desk_10.svg");
}

.desk_10:hover {
  background-image: url("Final_Desks/Overlay_10.svg");
}

.desk_11{
  background-image: url("Final_Desks/Desk_11.svg");
}

.desk_11:hover {
  background-image: url("Final_Desks/Overlay_11.svg");
}

.desk_12{
  background-image: url("Final_Desks/Desk_12.svg");
}

.desk_12:hover {
  background-image: url("Final_Desks/Overlay_12.svg");
}

.description {
  padding-left: 100px;
  padding-right: 100px;
}

a {
  color: black;
  font-family: monospace;
}

a:hover {
  color: #6c757d;
}

h1 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

h5 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: monospace;
  font-weight: lighter;
}

.metadata {
  font-size: 30px;
  letter-spacing: 5px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: black thin solid;
  padding: 15px 15px 15px 15px;
}

/*
div {
  outline-width: thin;
  outline-color: black;
  outline-style: solid;
}*/
