.flex {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.parent {
  display: flex;
  position: relative;
  top: 0;
  left: 100px;
}
.desk {
  /* background-image: url("SVG/Desk_Background_Master_1.svg"); */
  background-size: contain;
  background-position: center;
}
.overlay {
  padding-left: -1000 px;
}

a {
  color: black;
}

a:hover {
  color: #6c757d;
}

#div {
  #outline-width: thin;
  #outline-color: black;
  #outline-style: solid;
#}
